@use '../../utils/variables.scss';

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
  background: var(--card_bg_header_bgColor);

  h1 {
    @media (max-width: 526px) {
      font-size: 1.5em;
    }
  }

  & > div {
    width: 85%;
    max-width: 1440px;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .themebuttonContainer {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--text-color);
      * {
        cursor: pointer;
      }
      span {
        margin-left: 1rem;
        @media (max-width: 526px) {
          display: none;
        }
      }
    }
  }
}
