@use '../../../utils/variables.scss';

.country-container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 13rem;

  button {
    background: var(--card_bg_header_bgColor);
    height: 3rem;
    width: 8rem;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
    color: var(--color-text);

    fa-icon {
      margin-right: 0.6rem;
    }
  }

  & section.country-wrapper {
    display: flex;
    column-gap: 6rem;
    flex-wrap: wrap;
    margin: 5rem 0;
    row-gap: 5rem;

    img {
      max-width: 34rem;
      width: 100%;
      height: 25rem;

      @media (max-width: 526px) {
        height: 18rem;
      }
    }

    .country-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.2rem;

      h2 {
        font-size: 2rem;
      }

      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 8rem;
        margin: 2rem 0 4rem 0;

        @media (max-width: 526px) {
          grid-template-columns: repeat(1, 1fr);
        }

        span {
          margin: 0.5rem 0;

          label:first-child {
            font-weight: 600;
            margin-right: 0.5rem;
          }
        }
      }

      footer {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        max-width: 650px;

        label {
          font-weight: 600;
        }

        section {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }

        span {
          background: var(--card_bg_header_bgColor);
          padding: 0.5rem 2rem;
          font-size: 1rem;
          box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
  }
}
