section {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 7rem;
    flex: 1;

    country-card{
      transition: opacity .5s ease;;
    }

    country-card:hover {

        opacity: 0.7;
    }
  }

  img {
    filter: brightness(0.98) grayscale(1) opacity(0.3);
  }

  p {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    transform: translateX(-2rem);
    font-weight: 600;
    color: #aaa;
  }

  .error {
    margin: 5rem auto;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 60%;
      transform: translateX(-3rem);
    }
  }

  .loading {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;

    div {
      flex: 1;

      // img{
      //   filter: brightness(0.98) grayscale(1) opacity(.3);
      // }
    }
  }

  header {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  main {
    width: 90%;
    padding: 5rem 0;
    display: grid;
    min-height: 70vh;
  }
}
