@use '../../utils/variables.scss';

.input-search{
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
  display: flex;
  align-items: stretch;
  column-gap: 1.5rem;
  height: 4rem;
  padding: 0 2rem;
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  background: var(--card_bg_header_bgColor);

  input{
    flex: 1;
    background: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color-search);

    &::placeholder{
      font-size: 1rem;
      color: inherit;

    }
  }

  fa-icon{
    align-self: center;
    font-size: 1.2rem;
    color: var(--text-color-search);
  }
}
