section {
  width: 100%;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  dropdown-regions{
    z-index: 1;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 4rem;
    flex: 1;
    justify-content:center;

    country-card{
      transition: .5s ease;;
    }

    country-card:hover {

      filter: var(--hover-effect);

    }
  }

  img {
    filter: var(--loading-style);
    transform: translateX(1rem);
  }

  p {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: var(--loading-text);
  }

  .error {
    margin: 5rem auto;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 100%;
      max-width: 450px;
      transform: translateX(-1rem);
    }
  }

  .loading {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    div {

      img{
        width: 100%;
      }

    }
  }

  header {

    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;

    input-search{
      width: 500px;
    }
  }

  main {
    padding: 5rem 0;
    display: grid;
    min-height: 70vh;
  }

  header,main{

    width: 85%;
    max-width: 1440px;
  }
}

