@use 'app/utils/variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  font-family: 'Nunito Sans';
}

html,body{
  font-size: 88%;
}

ul{
  list-style: none;
  padding: 0;
}

button{
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 5px;

}
