$dark-blue-d: hsl(209, 23%, 22%);
$very-dark-blue-d: hsl(207, 26%, 17%);
$very-dar-blue-lt: hsl(200, 15%, 8%);
$dark-gray-li: hsl(0, 0%, 52%);
$very-ligh-gray-l: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
